<form id="profiler-step1">
  
  <label for="title_field">Title</label>
  <input type="text" id="title_field" name="title" />

  <label for="company_field">Company</label>
  <input type="text" id="company_field" name="company" />

  <input type="submit" value="Save" />

</form>